

<div class="isolate">
  <div class="collection-feature content-container{% if section.settings.reverse %} reverse {% endif %}">
    <div class="collection-feature__col">
      {%- if section.settings.collection != blank -%}
        <h3>{{ section.settings.collection.title }}</h3>
      {%- endif -%}
    </div>
    <div class="collection-feature__col" style="{% if section.settings.image != blank %} background-image: url({{ section.settings.image | image_url: 'medium' }}) {% endif %}" >

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose Image"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "default": false,
      "label": "Reverse Row"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}