.collection-feature {
  display: flex;
  width: 100%;
  flex: 1 0;
  height: 500px;
}

.collection-feature.reverse {
  flex-direction: row-reverse;
}

.collection-feature__col {
  flex: 1 1 50%;
}

.collection-feature__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: dimgrey;
  overflow: hidden;
  position: relative;
  transition: all 0.48s ease-in-out;
}

.collection-feature__image::before {
  background: inherit;
  transition: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.collection-feature__image:hover::before {
  transform: scale(1.08);
}

.collection-feature__content {
  padding: 24px 42px;

}

.collection-feature__content__wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection-feature__content h3 {
  font-size: 42px;
  line-height: 100%;
  margin: 24px 0;
}

.collection-feature__content button {
  background-color: transparent;
  padding: 18px 28px;
  border: 2px solid #000;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.29s ease-in-out all;
  background-color: transparent;
}

.collection-feature__content button:hover {
  background-color: rgb(9 58 88);
  color: white;
  border: 2px solid rgb(9 58 88);
}

.collection-feature__divider {
  width: 180px;
  height: 3px;
  background-color: #000;
}

.collection-feature__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.collection-feature__tags a, .collection-feature__tags a:visited {
  color: black;
  padding: 6px 12px;
  border: 2px solid rgb(9, 58, 88);
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.29s ease-in-out;
  margin-right: 12px;
  margin-bottom: 12px;
}

.collection-feature__tags a:hover {
  -webkit-box-shadow: 0px 9px 15px -5px #000000; 
  box-shadow: 0px 9px 15px -5px #000000;
  transform: translateY(-4px);
}