.custom-menu {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

.custom-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-menu ul > li {
  margin: 12px 24px;
}

.custom-menu ul > li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 100%;
  font-weight: bold;
  transition: 0.29s ease-in-out all;
  position: relative;
}

.custom-menu ul > li a:before {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.29s ease-in-out;
  width: 0px;
  height: 2px;
  background-color: white;
}

.custom-menu ul > li a:after {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.29s ease-in-out;
  width: 0px;
  height: 2px;
  background-color: white;
}

.color-background-2.custom-menu ul > li a, .color-background-2.custom-menu ul > li a:visited{
  color: white;
}

.custom-menu ul > li a:hover:before, .custom-menu ul > li a:focus:before, .custom-menu ul > li a:active:before, .custom-menu ul > li a:hover:after, .custom-menu ul > li a:focus:after, .custom-menu ul > li a:active:after {
  opacity: 1;
  width: 100%;
}

.custom-menu ul > li a:visited {
  color: black;
}

