.collection-feature {
  display: flex;
  width: 100%;
  flex: 1 0;
  height: 580px;
}

.collection-feature.reverse {
  flex-direction: row-reverse;
}

.collection-feature__col {
  flex: 1;
}

.collection-feature_image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: dimgrey;
}

.collection-feature__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}