.collection-feature {
  display: flex;
  width: 100%;
  flex: 1 0;
  height: 500px;
}

.collection-feature.reverse {
  flex-direction: row-reverse;
}

.collection-feature__col {
  flex: 1 1 50%;
}

.collection-feature__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: dimgrey;
}

.collection-feature__content {
  padding: 24px 42px;

}

.collection-feature__content__wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection-feature__content h3 {
  font-size: 42px;
  line-height: 100%;
  margin: 24px 0;
}

.collection-feature__content button {
  background-color: transparent;
  padding: 18px 28px;
  border: 2px solid #000;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.collection-feature__divider {
  width: 180px;
  height: 3px;
  background-color: #000;
}

.collection-feature__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.collection-feature__tags a {
  color: black;
  padding: 6px 12px;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 12px;
  -webkit-box-shadow: 0px 9px 15px -5px #000000; 
  box-shadow: 0px 9px 15px -5px #000000;
  margin-right: 12px;
}