.custom-menu {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

.custom-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-menu ul > li {
  margin: 12px 24px;
}

.custom-menu ul > li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 100%;
  font-weight: bold;
  transition: 0.29s ease-in-out all;
}

.color-background-2.custom-menu ul > li a, .color-background-2.custom-menu ul > li a:visited{
  color: white;
}

.custom-menu ul > li a:hover, .color-background-2.custom-menu ul > li a:hover {
  color: #ceffc9;
  text-shadow: 0 0 2px rgb(7, 22, 71);
}

.custom-menu ul > li a:visited {
  color: black;
}

